:root{
    color: black;
    --bg-color:#ededed;
    --back-button-image:url(back.png);
    --wxid-color:#6b6b6b;
    --zz-bg-color:white;
    --zz-hr-color:#e5e5e5;
    --keyboard-bg-color:#f7f7f7;
    --keyboard-button-bg-color:white;
    --keyboard-del-button-bg-image:url(del.png);
    --keyboard-zz-button-color:white;
}
@media(prefers-color-scheme: dark){
:root{
    color: white;
    --bg-color:#111111;
    --back-button-image:url(back-light.png);
    --wxid-color:#888888;
    --zz-bg-color:#191919;
    --zz-hr-color:#242424;
    --keyboard-bg-color:#1e1e1e;
    --keyboard-button-bg-color:#2c2c2c;
    --keyboard-del-button-bg-image:url(del-light.png);
    --keyboard-zz-button-color:white;
}}
*{
    margin: 0;
    padding: 0;
    user-select: none;
}
.container{
    padding-top: 20px;
    background-color: var(--bg-color);
}
.back{
    height: 27px;
    background-image: var(--back-button-image);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}
.user{
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 30px 30px 20px;
}
.user>img{
    border-radius: 8px;
}
.name>:first-child{
    font-size: 18px;
    font-weight: bold;
}
.name :nth-child(2){
    color: var(--wxid-color);
    margin-top: 5px;
}
.zz{
    height: 600px;
    background-color: var(--zz-bg-color);
    border-radius: 20px;
    padding: 20px 30px;
    font-weight: bold;
}
.zz>:nth-child(2){
    font-size: 40px;
}
.zz>:last-child{
    color: #576b95;
}
.zz>hr{
    border-color: var(--zz-hr-color);
}
.zz>p~*{
    margin-top: 15px;
}
.keyboard{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--keyboard-bg-color);
    height: 250px;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
}
.keyboard>div{
    background-color: var(--keyboard-button-bg-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard>div[del]{
    background-image: var(--keyboard-del-button-bg-image);
    background-repeat: no-repeat;
    background-size: 33px 30px;
    background-position: center;
}
.keyboard>div[zz]{
    background-color: #07c160;
    grid-row: 2/5;
    grid-column: 4;
    color: var(--keyboard-zz-button-color);
}
.keyboard>div[zero]{
    grid-column: 1/3;
}
.keyboard>div:hover{
    opacity: .7;
}